{%extends 'layout.html'%}
{%block content%}
<div class='about'>
    <h2> Stay Informed</h2>
    <h3> Be Safe:</h3>
        <ul>
            <li> <a href = 'https://www.weather.gov/source/zhu/ZHU_Training_Page/tropical_stuff/hurricane_anatomy/hurricane_anatomy.html'> Government Hurricane Information</li>
            <li><a href = 'https://www.weather.gov/safety/hurricane'>Safety Guidelines</li>
            <li><a href = 'https://www.cdc.gov/nceh/features/hurricanepreparedness/index.html'>Be Prepared</li>
        </ul>
</div >
{%endblock%}